@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.scroll-container::-webkit-scrollbar-button {
  display: none;
}

.scroll-container::-webkit-scrollbar {
  width: 3px; 
  height: 3px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 16px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #ffffff;
}

